<!--Alonso-->

<Alloy>
	
    <View id="mainView">
    	
    	<!--This is the top bar at the menu. Color needs to change to white.-->
        <View id="mainTopBar">
        	
            <View id="menuButton"/>
            <Label id="header">Settings</Label>
        </View>
        
        <!--This is the settings view of the project-->
	<Button id='logoutBtn'>Logout</Button>

    </View>

    
</Alloy>
<!--Alonso-->