<!--Alonso-->

<Alloy>
	
    <View id="mainView">
    	
    	<!--This is the top bar at the menu. Color needs to change to white.-->
        <View id="mainTopBar">
            <View id="menuButton"/>
            <Label id="header">Settings</Label>
        </View>
        
        <!--This is the settings view of the project-->
        <TableView>
        	
        	<!--This is the area that will display the content of the other views-->

            	
            	<!--this is the red box in the middle of the screen -->
                <!--This could hold the event listener that will show and hide the 
                other views but will display the data of the respected views--> 
          
            <TableViewRow id="row6">
            	<Label>Display Settings Content here</Label>
            </TableViewRow>
            
            
        </TableView>
        
        
    </View>
    
</Alloy>
<!--Alonso-->